@import "tailwindcss";

:root {
  --header-height: 4rem; /* Sesuaikan dengan h-16 = 64px */
  --footer-height: 5rem;  /* Sesuaikan dengan h-20 = 80px */
}


.custom-scrollbar::-webkit-scrollbar {
   width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #555;
}
